.page-block{
    gap: 0;
}
.album-music{
    margin: 0;
    padding: 0;
    display: flex;
}

.album-content{
    overflow: auto;
    block-size: 22rem;
}

.album-bottoms{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-icon{
    color: white;
    border: 0.5px solid whitesmoke;
    inline-size: 1.5rem;
    block-size: 1.5rem;}

.button-iconH{
    color: white;
    inline-size: 2rem;
    block-size: 2rem;
}


.icon-heart{
    font-size: 1rem;
}
.album-bottoms{
    display: flex;
    gap: 0.5rem;
}

/* Artist */
.album-artist{
    display: flex;
    inline-size: 100%;
    align-items: center;
}
.album-artist p{
    flex: 1;
}

.album-artist span{
    flex: 0.4;
}

.duration{
    margin-left: 1rem;
}

