.player{
    display: flex;
    gap: 1.5rem;
    box-shadow: inset 0px 1px 0 var(--gray30);
}

.player > *{
    flex: 1;
    padding: 1rem;
}

.player-control{
    border: none;
    background: none;
    color: var(--gray10);
    font-size: 1rem;
    padding: .5rem;

}

.player-control i{
    cursor: pointer;
}


.player-playerVolumen{
    display: flex;
    justify-content: flex-end;
}