.search{
    position: relative;
    flex: 1;
}

.search i{
    position: absolute;
    font-size: 1rem;
    left: .5rem;
    top: calc(50% - .5rem);
    block-size: 1rem;
    color: var(--gray10);

}

.search input{
    font: var(--baseFont);
    border-radius: 1.25rem;
    border: none;
    max-inline-size: 22rem; /* Input no puede tener pseudoelementos de before y after*/
    width: 100%; /* Le colocamos 100% a los 22rem porque tiene estilos predeterminados del navegador */
    padding: .5rem;
    padding-inline-start: 2rem;
    color: var(--gray30);
}

.search:focus-within i{
    color: var(--gray30);
}

.search input::-webkit-input-placeholder{
    color: var(--gray10);
}