@import url('./icons.css');
@import url('./fonts.css');
@import url('./body.css');
@import url('./link.css');
@import url('./button-icon.css');
@import url('./sidebar.css');
@import url('./elipsis.css');
@import url('./slider.css');
@import url('./player-controls.css');
@import url('./player-playback.css');
@import url('./player-volumen.css');
@import url('./player.css');
@import url('./now-playing.css');
@import url('./playlist-a.css');
@import url('./playlist-b.css');
@import url('./playlist-list.css');


:root{
    font-size: 16px;
    --primary: #00B050;
    --white: white;
    --gray10: #B3B3B3;
    --gray20: #737373;
    --gray30: #282828;
    --gray40: #181818;
    --gray50: #121212;
    --gray60: #000000;
    --baseFontFamily: Avenir,Helvetica,sans-serif;
    --headLine1: bold 2rem/normal var(--baseFontFamily);
    --headLine2: bold 1.5rem/1.75rem var(--baseFontFamily);
    --baseFont: normal .875rem/1.375rem var(--baseFontFamily);
    --baseFontBold: bold .875rem/1.375rem var(--baseFontFamily);
    --button: bold .875rem/1rem var(--baseFontFamily);
    --small: normal .75em/normal var(--baseFontFamily);

}

body{
    font-family: var(--baseFontFamily);
}

.p{
    font-family: var(--headLine1);
}

span{
    font-family: var(--baseFontFamily); 
}
