@import url('./display-flex.css');
@import url('./flex-order.css');
@import url('./flex-direction.css');
@import url('./flex-wrap.css');
@import './flex.css';

:root{
    --darkColor: #04001e;
    --lightColor: #DFFBFF;
    --primaryColor: #DB086F

}

body{
    background-color: var(--darkColor);
    color: var(--lightColor);
    font-family: system-ui;
}

a{
    color: var(--lightColor);
    text-decoration: none;
}

.wrapper{
    max-inline-size: 64rem;
    margin: auto;
}

.box{
    border: 3px dashed blueviolet;
    padding: 1rem;
    counter-increment: flex-items;
}

.box::after{
    content: counter(flex-items);

}